@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #eca400;
  --header-footer-color: #27476e;
  --font-color: #eaf8bf;
  --accent-color: #001d4a;
  --extra-color: #006992;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
